#nav {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 100;
}

#nav li button {
  padding-top: 0px;
  padding-bottom: 0px;
}
#nav button.navbar-toggler {
  padding-bottom: 10px;
}
#nav button.navbar-toggler::before {
  content: "Menu";
  font-size: 14px;
}

.navbar-toggler-icon {
  font-size: 10px;
}

#nav li button,
.modal-footer button,
#nav li button:visited,
.modal-footer button:visited {
  background-color: #ff1b20 !important;
  border-color: #ff1b20 !important;
}

#nav li button:hover,
.modal-footer button:hover,
#nav li button:active,
.modal-footer button:active {
  background-color: #be1812 !important;
  border-color: #be1812 !important;
}

#nav ul li > a:hover {
  color: rgb(163, 163, 163) !important;
}

.telefon {
  max-width: 11.5rem;
  position: relative;
}

@media (min-width: 576px) {
  .telefon {
    max-width: 14.5rem;
  }

  .daire {
    width: 20.5rem;
    height: 20.5rem;
    border-radius: 50%;
    background-color: rgb(145, 222, 245);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
  }
}

@media (min-width: 768px) {
  .telefon {
    max-width: 17rem;
  }

  .daire {
    width: 24.5rem;
    height: 24.5rem;
  }
}

@media (min-width: 992px) {
  #features .daire {
    width: 15rem;
    height: 15rem;
    left: 50px;
  }
}

@media (min-width: 1400px) {
  .telefon {
    max-width: 20rem;
  }

  .daire {
    width: 28.5rem;
    height: 28.5rem;
  }

  #features .daire {
    width: 20rem;
    height: 20rem;
  }
}

#age {
  background-color: #ff1b20;
}

#footer a {
  color: gray;
}

#footer a:hover {
  color: rgb(206, 202, 202);
}

#banner {
  color: white;
  background-image: url(https://wallpapers.com/images/featured/brawl-lgmk2y884nb65e3g.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
#banner::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: #000;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.65;
  z-index: 0;
}
#banner > * {
  z-index: 10;
  position: relative;
}
